// Extra small screen / phone
$screen-xs-min:         480px;

// Small screen / tablet
$screen-sm-min:         768px;

// Medium screen / desktop
$screen-md-min:         992px;

// Large screen / wide desktop
$screen-lg-min:         1200px;

// Larger screen / wider desktop
$screen-xlg-min:        1600px;
