$color-blue: #2D9CDB;
$color-purple: #9B51E0;
$color-green: #6FCF97;
$color-amber: #F2C94C;
$color-orange: #F2994A;
$color-red: #EB5757;


$color-black: #000000;
$color-gray-dark: #3B3B3B;
$color-gray: #696969;
$color-gray-light: #C6C6C6;
$color-gray-lighter: #DDDDDD;
$color-white: #FFFFFF;

$color-highlight-primary: $color-green;